Group2 1st Release/web project/src/conf/xml-resources/web-service-references/CatelogueMgtWS/wsdl/localhost_8080/CatelogueMgtWS/CatelogueMgtWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSS/" name="CatelogueMgtWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WSS/" schemaLocation="http://localhost:8080/CatelogueMgtWS/CatelogueMgtWS?xsd=1"/>
</xsd:schema>
</types>
<message name="removeItem">
<part name="parameters" element="tns:removeItem"/>
</message>
<message name="removeItemResponse">
<part name="parameters" element="tns:removeItemResponse"/>
</message>
<message name="ExistException">
<part name="fault" element="tns:ExistException"/>
</message>
<message name="addWinery">
<part name="parameters" element="tns:addWinery"/>
</message>
<message name="addWineryResponse">
<part name="parameters" element="tns:addWineryResponse"/>
</message>
<message name="addItem">
<part name="parameters" element="tns:addItem"/>
</message>
<message name="addItemResponse">
<part name="parameters" element="tns:addItemResponse"/>
</message>
<message name="addRegion">
<part name="parameters" element="tns:addRegion"/>
</message>
<message name="addRegionResponse">
<part name="parameters" element="tns:addRegionResponse"/>
</message>
<message name="addCategory">
<part name="parameters" element="tns:addCategory"/>
</message>
<message name="addCategoryResponse">
<part name="parameters" element="tns:addCategoryResponse"/>
</message>
<message name="getAllWinery">
<part name="parameters" element="tns:getAllWinery"/>
</message>
<message name="getAllWineryResponse">
<part name="parameters" element="tns:getAllWineryResponse"/>
</message>
<message name="getAllRegion">
<part name="parameters" element="tns:getAllRegion"/>
</message>
<message name="getAllRegionResponse">
<part name="parameters" element="tns:getAllRegionResponse"/>
</message>
<message name="getAllCategory">
<part name="parameters" element="tns:getAllCategory"/>
</message>
<message name="getAllCategoryResponse">
<part name="parameters" element="tns:getAllCategoryResponse"/>
</message>
<message name="getAllItem">
<part name="parameters" element="tns:getAllItem"/>
</message>
<message name="getAllItemResponse">
<part name="parameters" element="tns:getAllItemResponse"/>
</message>
<message name="getItemById">
<part name="parameters" element="tns:getItemById"/>
</message>
<message name="getItemByIdResponse">
<part name="parameters" element="tns:getItemByIdResponse"/>
</message>
<message name="getItemByName">
<part name="parameters" element="tns:getItemByName"/>
</message>
<message name="getItemByNameResponse">
<part name="parameters" element="tns:getItemByNameResponse"/>
</message>
<message name="getWineryById">
<part name="parameters" element="tns:getWineryById"/>
</message>
<message name="getWineryByIdResponse">
<part name="parameters" element="tns:getWineryByIdResponse"/>
</message>
<message name="getWineryByName">
<part name="parameters" element="tns:getWineryByName"/>
</message>
<message name="getWineryByNameResponse">
<part name="parameters" element="tns:getWineryByNameResponse"/>
</message>
<message name="removeWinery">
<part name="parameters" element="tns:removeWinery"/>
</message>
<message name="removeWineryResponse">
<part name="parameters" element="tns:removeWineryResponse"/>
</message>
<message name="getRegionById">
<part name="parameters" element="tns:getRegionById"/>
</message>
<message name="getRegionByIdResponse">
<part name="parameters" element="tns:getRegionByIdResponse"/>
</message>
<message name="getRegionByName">
<part name="parameters" element="tns:getRegionByName"/>
</message>
<message name="getRegionByNameResponse">
<part name="parameters" element="tns:getRegionByNameResponse"/>
</message>
<message name="removeRegion">
<part name="parameters" element="tns:removeRegion"/>
</message>
<message name="removeRegionResponse">
<part name="parameters" element="tns:removeRegionResponse"/>
</message>
<message name="getCategoryById">
<part name="parameters" element="tns:getCategoryById"/>
</message>
<message name="getCategoryByIdResponse">
<part name="parameters" element="tns:getCategoryByIdResponse"/>
</message>
<message name="getCategoryByName">
<part name="parameters" element="tns:getCategoryByName"/>
</message>
<message name="getCategoryByNameResponse">
<part name="parameters" element="tns:getCategoryByNameResponse"/>
</message>
<message name="removeCategory">
<part name="parameters" element="tns:removeCategory"/>
</message>
<message name="removeCategoryResponse">
<part name="parameters" element="tns:removeCategoryResponse"/>
</message>
<message name="updateItem">
<part name="parameters" element="tns:updateItem"/>
</message>
<message name="updateItemResponse">
<part name="parameters" element="tns:updateItemResponse"/>
</message>
<message name="updateWinery">
<part name="parameters" element="tns:updateWinery"/>
</message>
<message name="updateWineryResponse">
<part name="parameters" element="tns:updateWineryResponse"/>
</message>
<message name="updateRegion">
<part name="parameters" element="tns:updateRegion"/>
</message>
<message name="updateRegionResponse">
<part name="parameters" element="tns:updateRegionResponse"/>
</message>
<message name="updateCategory">
<part name="parameters" element="tns:updateCategory"/>
</message>
<message name="updateCategoryResponse">
<part name="parameters" element="tns:updateCategoryResponse"/>
</message>
<portType name="CatelogueMgtWS">
<operation name="removeItem">
<input wsam:Action="http://WSS/CatelogueMgtWS/removeItemRequest" message="tns:removeItem"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/removeItemResponse" message="tns:removeItemResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/removeItem/Fault/ExistException"/>
</operation>
<operation name="addWinery">
<input wsam:Action="http://WSS/CatelogueMgtWS/addWineryRequest" message="tns:addWinery"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/addWineryResponse" message="tns:addWineryResponse"/>
</operation>
<operation name="addItem">
<input wsam:Action="http://WSS/CatelogueMgtWS/addItemRequest" message="tns:addItem"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/addItemResponse" message="tns:addItemResponse"/>
</operation>
<operation name="addRegion">
<input wsam:Action="http://WSS/CatelogueMgtWS/addRegionRequest" message="tns:addRegion"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/addRegionResponse" message="tns:addRegionResponse"/>
</operation>
<operation name="addCategory">
<input wsam:Action="http://WSS/CatelogueMgtWS/addCategoryRequest" message="tns:addCategory"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/addCategoryResponse" message="tns:addCategoryResponse"/>
</operation>
<operation name="getAllWinery">
<input wsam:Action="http://WSS/CatelogueMgtWS/getAllWineryRequest" message="tns:getAllWinery"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/getAllWineryResponse" message="tns:getAllWineryResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/getAllWinery/Fault/ExistException"/>
</operation>
<operation name="getAllRegion">
<input wsam:Action="http://WSS/CatelogueMgtWS/getAllRegionRequest" message="tns:getAllRegion"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/getAllRegionResponse" message="tns:getAllRegionResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/getAllRegion/Fault/ExistException"/>
</operation>
<operation name="getAllCategory">
<input wsam:Action="http://WSS/CatelogueMgtWS/getAllCategoryRequest" message="tns:getAllCategory"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/getAllCategoryResponse" message="tns:getAllCategoryResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/getAllCategory/Fault/ExistException"/>
</operation>
<operation name="getAllItem">
<input wsam:Action="http://WSS/CatelogueMgtWS/getAllItemRequest" message="tns:getAllItem"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/getAllItemResponse" message="tns:getAllItemResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/getAllItem/Fault/ExistException"/>
</operation>
<operation name="getItemById">
<input wsam:Action="http://WSS/CatelogueMgtWS/getItemByIdRequest" message="tns:getItemById"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/getItemByIdResponse" message="tns:getItemByIdResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/getItemById/Fault/ExistException"/>
</operation>
<operation name="getItemByName">
<input wsam:Action="http://WSS/CatelogueMgtWS/getItemByNameRequest" message="tns:getItemByName"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/getItemByNameResponse" message="tns:getItemByNameResponse"/>
</operation>
<operation name="getWineryById">
<input wsam:Action="http://WSS/CatelogueMgtWS/getWineryByIdRequest" message="tns:getWineryById"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/getWineryByIdResponse" message="tns:getWineryByIdResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/getWineryById/Fault/ExistException"/>
</operation>
<operation name="getWineryByName">
<input wsam:Action="http://WSS/CatelogueMgtWS/getWineryByNameRequest" message="tns:getWineryByName"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/getWineryByNameResponse" message="tns:getWineryByNameResponse"/>
</operation>
<operation name="removeWinery">
<input wsam:Action="http://WSS/CatelogueMgtWS/removeWineryRequest" message="tns:removeWinery"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/removeWineryResponse" message="tns:removeWineryResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/removeWinery/Fault/ExistException"/>
</operation>
<operation name="getRegionById">
<input wsam:Action="http://WSS/CatelogueMgtWS/getRegionByIdRequest" message="tns:getRegionById"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/getRegionByIdResponse" message="tns:getRegionByIdResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/getRegionById/Fault/ExistException"/>
</operation>
<operation name="getRegionByName">
<input wsam:Action="http://WSS/CatelogueMgtWS/getRegionByNameRequest" message="tns:getRegionByName"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/getRegionByNameResponse" message="tns:getRegionByNameResponse"/>
</operation>
<operation name="removeRegion">
<input wsam:Action="http://WSS/CatelogueMgtWS/removeRegionRequest" message="tns:removeRegion"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/removeRegionResponse" message="tns:removeRegionResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/removeRegion/Fault/ExistException"/>
</operation>
<operation name="getCategoryById">
<input wsam:Action="http://WSS/CatelogueMgtWS/getCategoryByIdRequest" message="tns:getCategoryById"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/getCategoryByIdResponse" message="tns:getCategoryByIdResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/getCategoryById/Fault/ExistException"/>
</operation>
<operation name="getCategoryByName">
<input wsam:Action="http://WSS/CatelogueMgtWS/getCategoryByNameRequest" message="tns:getCategoryByName"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/getCategoryByNameResponse" message="tns:getCategoryByNameResponse"/>
</operation>
<operation name="removeCategory">
<input wsam:Action="http://WSS/CatelogueMgtWS/removeCategoryRequest" message="tns:removeCategory"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/removeCategoryResponse" message="tns:removeCategoryResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/removeCategory/Fault/ExistException"/>
</operation>
<operation name="updateItem">
<input wsam:Action="http://WSS/CatelogueMgtWS/updateItemRequest" message="tns:updateItem"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/updateItemResponse" message="tns:updateItemResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/updateItem/Fault/ExistException"/>
</operation>
<operation name="updateWinery">
<input wsam:Action="http://WSS/CatelogueMgtWS/updateWineryRequest" message="tns:updateWinery"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/updateWineryResponse" message="tns:updateWineryResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/updateWinery/Fault/ExistException"/>
</operation>
<operation name="updateRegion">
<input wsam:Action="http://WSS/CatelogueMgtWS/updateRegionRequest" message="tns:updateRegion"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/updateRegionResponse" message="tns:updateRegionResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/updateRegion/Fault/ExistException"/>
</operation>
<operation name="updateCategory">
<input wsam:Action="http://WSS/CatelogueMgtWS/updateCategoryRequest" message="tns:updateCategory"/>
<output wsam:Action="http://WSS/CatelogueMgtWS/updateCategoryResponse" message="tns:updateCategoryResponse"/>
<fault message="tns:ExistException" name="ExistException" wsam:Action="http://WSS/CatelogueMgtWS/updateCategory/Fault/ExistException"/>
</operation>
</portType>
<binding name="CatelogueMgtWSPortBinding" type="tns:CatelogueMgtWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
<operation name="addWinery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllWinery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
<operation name="getAllRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
<operation name="getAllCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
<operation name="getAllItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
<operation name="getItemById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
<operation name="getItemByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWineryById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
<operation name="getWineryByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeWinery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
<operation name="getRegionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
<operation name="getRegionByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
<operation name="getCategoryById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
<operation name="getCategoryByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
<operation name="updateItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
<operation name="updateWinery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
<operation name="updateRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
<operation name="updateCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExistException">
<soap:fault name="ExistException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CatelogueMgtWS">
<port name="CatelogueMgtWSPort" binding="tns:CatelogueMgtWSPortBinding">
<soap:address location="http://localhost:8080/CatelogueMgtWS/CatelogueMgtWS"/>
</port>
</service>
</definitions>