Group2 1st Release/web project/src/conf/xml-resources/web-service-references/CatelogueMgtWS/wsdl/localhost_8080/CatelogueMgtWS/CatelogueMgtWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://WSS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WSS/">

<xs:element name="ExistException" type="tns:ExistException"/>

<xs:element name="addCategory" type="tns:addCategory"/>

<xs:element name="addCategoryResponse" type="tns:addCategoryResponse"/>

<xs:element name="addItem" type="tns:addItem"/>

<xs:element name="addItemResponse" type="tns:addItemResponse"/>

<xs:element name="addRegion" type="tns:addRegion"/>

<xs:element name="addRegionResponse" type="tns:addRegionResponse"/>

<xs:element name="addWinery" type="tns:addWinery"/>

<xs:element name="addWineryResponse" type="tns:addWineryResponse"/>

<xs:element name="getAllCategory" type="tns:getAllCategory"/>

<xs:element name="getAllCategoryResponse" type="tns:getAllCategoryResponse"/>

<xs:element name="getAllItem" type="tns:getAllItem"/>

<xs:element name="getAllItemResponse" type="tns:getAllItemResponse"/>

<xs:element name="getAllRegion" type="tns:getAllRegion"/>

<xs:element name="getAllRegionResponse" type="tns:getAllRegionResponse"/>

<xs:element name="getAllWinery" type="tns:getAllWinery"/>

<xs:element name="getAllWineryResponse" type="tns:getAllWineryResponse"/>

<xs:element name="getCategoryById" type="tns:getCategoryById"/>

<xs:element name="getCategoryByIdResponse" type="tns:getCategoryByIdResponse"/>

<xs:element name="getCategoryByName" type="tns:getCategoryByName"/>

<xs:element name="getCategoryByNameResponse" type="tns:getCategoryByNameResponse"/>

<xs:element name="getItemById" type="tns:getItemById"/>

<xs:element name="getItemByIdResponse" type="tns:getItemByIdResponse"/>

<xs:element name="getItemByName" type="tns:getItemByName"/>

<xs:element name="getItemByNameResponse" type="tns:getItemByNameResponse"/>

<xs:element name="getRegionById" type="tns:getRegionById"/>

<xs:element name="getRegionByIdResponse" type="tns:getRegionByIdResponse"/>

<xs:element name="getRegionByName" type="tns:getRegionByName"/>

<xs:element name="getRegionByNameResponse" type="tns:getRegionByNameResponse"/>

<xs:element name="getWineryById" type="tns:getWineryById"/>

<xs:element name="getWineryByIdResponse" type="tns:getWineryByIdResponse"/>

<xs:element name="getWineryByName" type="tns:getWineryByName"/>

<xs:element name="getWineryByNameResponse" type="tns:getWineryByNameResponse"/>

<xs:element name="removeCategory" type="tns:removeCategory"/>

<xs:element name="removeCategoryResponse" type="tns:removeCategoryResponse"/>

<xs:element name="removeItem" type="tns:removeItem"/>

<xs:element name="removeItemResponse" type="tns:removeItemResponse"/>

<xs:element name="removeRegion" type="tns:removeRegion"/>

<xs:element name="removeRegionResponse" type="tns:removeRegionResponse"/>

<xs:element name="removeWinery" type="tns:removeWinery"/>

<xs:element name="removeWineryResponse" type="tns:removeWineryResponse"/>

<xs:element name="updateCategory" type="tns:updateCategory"/>

<xs:element name="updateCategoryResponse" type="tns:updateCategoryResponse"/>

<xs:element name="updateItem" type="tns:updateItem"/>

<xs:element name="updateItemResponse" type="tns:updateItemResponse"/>

<xs:element name="updateRegion" type="tns:updateRegion"/>

<xs:element name="updateRegionResponse" type="tns:updateRegionResponse"/>

<xs:element name="updateWinery" type="tns:updateWinery"/>

<xs:element name="updateWineryResponse" type="tns:updateWineryResponse"/>

<xs:complexType name="getWineryByName">
<xs:sequence>
<xs:element name="wineryName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWineryByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:wineryEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wineryEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="itemList" type="tns:itemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="wineryAddress" type="xs:string" minOccurs="0"/>
<xs:element name="wineryContact" type="xs:string" minOccurs="0"/>
<xs:element name="wineryName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemEntity">
<xs:sequence>
<xs:element name="category" type="tns:categoryEntity" minOccurs="0"/>
<xs:element name="commentList" type="tns:commentEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="expiringDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="itemName" type="xs:string" minOccurs="0"/>
<xs:element name="itemPurchased" type="tns:itemPurchasedEntity" minOccurs="0"/>
<xs:element name="region" type="tns:regionEntity" minOccurs="0"/>
<xs:element name="tastingNote" type="xs:string" minOccurs="0"/>
<xs:element name="vitage" type="xs:string" minOccurs="0"/>
<xs:element name="winery" type="tns:wineryEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoryEntity">
<xs:sequence>
<xs:element name="categoryName" type="xs:string" minOccurs="0"/>
<xs:element name="categorySpec" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="itemList" type="tns:itemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commentEntity">
<xs:sequence>
<xs:element name="accountId" type="xs:long" minOccurs="0"/>
<xs:element name="contents" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="itemId" type="xs:long" minOccurs="0"/>
<xs:element name="rating" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemPurchasedEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="item" type="tns:itemEntity" minOccurs="0"/>
<xs:element name="soldQuantity" type="xs:long" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="regionEntity">
<xs:sequence>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="itemList" type="tns:itemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="regionName" type="xs:string" minOccurs="0"/>
<xs:element name="regionSpec" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeItem">
<xs:sequence>
<xs:element name="itemID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExistException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCategory">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="spec" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemByName">
<xs:sequence>
<xs:element name="itemName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:itemEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWineryById">
<xs:sequence>
<xs:element name="wineryId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWineryByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:wineryEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addRegion">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="spec" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addRegionResponse">
<xs:sequence>
<xs:element name="return" type="tns:regionEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateItem">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="cateName" type="xs:string" minOccurs="0"/>
<xs:element name="regionName" type="xs:string" minOccurs="0"/>
<xs:element name="wineryName" type="xs:string" minOccurs="0"/>
<xs:element name="itemName" type="xs:string" minOccurs="0"/>
<xs:element name="vitage" type="xs:string" minOccurs="0"/>
<xs:element name="expiringDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="tastingNote" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegionById">
<xs:sequence>
<xs:element name="regionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegionByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:regionEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegionByName">
<xs:sequence>
<xs:element name="regionName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegionByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:regionEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCategory">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="spec" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoryEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeWinery">
<xs:sequence>
<xs:element name="wineryId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeWineryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeRegion">
<xs:sequence>
<xs:element name="regionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeRegionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCategoryByName">
<xs:sequence>
<xs:element name="categoryName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCategoryByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoryEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addWinery">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="contact" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addWineryResponse">
<xs:sequence>
<xs:element name="return" type="tns:wineryEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateWinery">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="contact" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateWineryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addItem">
<xs:sequence>
<xs:element name="cateName" type="xs:string" minOccurs="0"/>
<xs:element name="regionName" type="xs:string" minOccurs="0"/>
<xs:element name="wineryName" type="xs:string" minOccurs="0"/>
<xs:element name="itemName" type="xs:string" minOccurs="0"/>
<xs:element name="vitage" type="xs:string" minOccurs="0"/>
<xs:element name="expiringDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="tastingNote" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addItemResponse">
<xs:sequence>
<xs:element name="return" type="tns:itemEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllWinery">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllWineryResponse">
<xs:sequence>
<xs:element name="return" type="tns:wineryEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllRegion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllRegionResponse">
<xs:sequence>
<xs:element name="return" type="tns:regionEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllItem">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllItemResponse">
<xs:sequence>
<xs:element name="return" type="tns:itemEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCategoryById">
<xs:sequence>
<xs:element name="categoryId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCategoryByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoryEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemById">
<xs:sequence>
<xs:element name="itemId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:itemEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateRegion">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="spec" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateRegionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCategory">
<xs:sequence>
<xs:element name="categoryId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllCategory">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoryEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>